{% extends "main/elements/base.html" %}

{% block content %}

	<div class="container pr">
		<div class="popup__cart">
			<div class="wrap">
				<div class="popup__cart_item">
					<div class="row align-items-center no-gutters item_row">
						<div class="col-md-5 col-12">
							<div class="item_title">
								<p>Орех соленый 80г.</p>
							</div>
						</div>
						<div class="col-md-7 col-12">
							<div class="row align-items-center no-gutters">
								<div class="col-6">
									<div class="item_quantity">
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i>
										</button>
										<input type="text" name="quantity" value="4" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button>
									</div>
								</div>
								<div class="col-5">
									<div class="item_sum">
										<p>100 <span>грн.</span></p>
									</div>
								</div>
								<div class="col-1">
									<div class="item_close">
										<a href="#">
											<i class="nut-icon icons-close-button"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup__cart_item">
					<div class="row align-items-center no-gutters item_row">
						<div class="col-md-5 col-12">
							<div class="item_title">
								<p>Орех сладкий 80г.</p>
							</div>
						</div>
						<div class="col-md-7 col-12">
							<div class="row align-items-center no-gutters">
								<div class="col-6">
									<div class="item_quantity">
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i>
										</button>
										<input type="text" name="quantity" value="8" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button>
									</div>
								</div>
								<div class="col-5">
									<div class="item_sum">
										<p>80 <span>грн.</span></p>
									</div>
								</div>
								<div class="col-1">
									<div class="item_close">
										<a href="#">
											<i class="nut-icon icons-close-button"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup__cart_sum">
					<div class="sum_item">
						<div class="sum_item_title">
							<p>Всего </p>
						</div>
						<div class="sum_item_new">
							<p>175 <i>грн.</i></p>
						</div>
					</div>
					<div class="sum_item">
						<div class="sum_item_button">
							<a href="#" class="button">Перейти в корзину</a>
						</div>
					</div>
				</div>
				<!-- Если корзина пуста -->
				<!-- <div class="popup__cart_clean">
					<p>Ваша корзина пуста</p>
				</div> -->
			</div>
		</div>
	</div>

	<section class="first-section overlay" style="background-image: url(img/header-home.jpg)">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<a href="#">
					<h1>Орех Причерноморья</h1>
					<p>Единственный в Украине сад совместного<br> выращивание фундука и грецкого ореха</p>
					<span><i class="nut-icon icons-play-icon"></i></span>
				</a>
			</div>
		</div>
	</section>

	<section class="production">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-12">
					<h2>Продукция</h2>
					<p>Экологически чистые, качественные ядра грецкого ореха и фундука,<br> а также плоды шиповника в удобной, надежной, вакуумной упаковке<br> разного объема</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap">
						<div class="production__item">
							<div class="sticker">
								<i class="nut-icon icons-actciya"></i>
								<p>Акция</p>
							</div>
							<!-- Slider main container -->
							<div class="products-container swiper-container">
								<!-- Additional required wrapper -->
								<div class="swiper-wrapper">
									<!-- Slides -->
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
								</div>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
								<img class="zoom" src="img/zoom.svg" alt="alt">
							</div>
							<div class="wrap">
								<div class="production__item_title">
									Грецкий орех
								</div>
								<div class="production__item_art">
									<span>Арт:</span> 0091
								</div>
								<div class="production__item_descr">
									Орех сладкий, классический,<br> очищенный
								</div>
								<div class="production__item_weight">
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-food-scale-tool"></i>
										</div>
										<div class="weight_item_descr">
											<p>Масса</p>
											<p><span>40<i>г.</i></span></p>
										</div>
									</div>
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-group"></i>
										</div>
										<div class="weight_item_descr">
											<p>Упаковка</p>
											<p><span>вакуумная</span></p>
										</div>
									</div>
								</div>
								<div class="production__item_sum">
									<div class="sum_item">
										<div class="sum_item_title">
											<p>Цена: </p>
										</div>
										<div class="sum_item_new">
											<p>19 <i>грн.</i></p>
										</div>
										<div class="sum_item_old">
											<p>21 <i>грн.</i></p>
										</div>
									</div>
									<div class="sum_item">
										<div class="sum_item_button">
											<a href="#" class="button">Купить</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap">
						<div class="production__item">
							<div class="sticker">
								<i class="nut-icon icons-novinka"></i>
								<p>Новинка</p>
							</div>
							<!-- Slider main container -->
							<div class="products-container swiper-container">
								<!-- Additional required wrapper -->
								<div class="swiper-wrapper">
									<!-- Slides -->
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
								</div>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
								<img class="zoom" src="img/zoom.svg" alt="alt">
							</div>
							<div class="wrap">
								<div class="production__item_title">
									Грецкий орех
								</div>
								<div class="production__item_art">
									<span>Арт:</span> 0091
								</div>
								<div class="production__item_descr">
									Орех сладкий, классический,<br> очищенный
								</div>
								<div class="production__item_weight">
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-food-scale-tool"></i>
										</div>
										<div class="weight_item_descr">
											<p>Масса</p>
											<p><span>40<i>г.</i></span></p>
										</div>
									</div>
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-group"></i>
										</div>
										<div class="weight_item_descr">
											<p>Упаковка</p>
											<p><span>вакуумная</span></p>
										</div>
									</div>
								</div>
								<div class="production__item_sum">
									<div class="sum_item">
										<div class="sum_item_title">
											<p>Цена: </p>
										</div>
										<div class="sum_item_new">
											<p>19 <i>грн.</i></p>
										</div>
										<div class="sum_item_old">
											<p>21 <i>грн.</i></p>
										</div>
									</div>
									<div class="sum_item">
										<div class="sum_item_button">
											<a href="#" class="button">Купить</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap">
						<div class="production__item">
							<!-- Slider main container -->
							<div class="products-container swiper-container">
								<!-- Additional required wrapper -->
								<div class="swiper-wrapper">
									<!-- Slides -->
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
								</div>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
								<img class="zoom" src="img/zoom.svg" alt="alt">
							</div>
							<div class="wrap">
								<div class="production__item_title">
									Грецкий орех
								</div>
								<div class="production__item_art">
									<span>Арт:</span> 0091
								</div>
								<div class="production__item_descr">
									Орех сладкий, классический,<br> очищенный
								</div>
								<div class="production__item_weight">
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-food-scale-tool"></i>
										</div>
										<div class="weight_item_descr">
											<p>Масса</p>
											<p><span>40<i>г.</i></span></p>
										</div>
									</div>
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-group"></i>
										</div>
										<div class="weight_item_descr">
											<p>Упаковка</p>
											<p><span>вакуумная</span></p>
										</div>
									</div>
								</div>
								<div class="production__item_sum">
									<div class="sum_item">
										<div class="sum_item_title">
											<p>Цена: </p>
										</div>
										<div class="sum_item_new">
											<p>19 <i>грн.</i></p>
										</div>
										<div class="sum_item_old">
											<p>21 <i>грн.</i></p>
										</div>
									</div>
									<div class="sum_item">
										<div class="sum_item_button">
											<a href="#" class="button">Купить</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap">
						<div class="production__item">
							<!-- Slider main container -->
							<div class="products-container swiper-container">
								<!-- Additional required wrapper -->
								<div class="swiper-wrapper">
									<!-- Slides -->
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
								</div>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
								<img class="zoom" src="img/zoom.svg" alt="alt">
							</div>
							<div class="wrap">
								<div class="production__item_title">
									Грецкий орех
								</div>
								<div class="production__item_art">
									<span>Арт:</span> 0091
								</div>
								<div class="production__item_descr">
									Орех сладкий, классический,<br> очищенный
								</div>
								<div class="production__item_weight">
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-food-scale-tool"></i>
										</div>
										<div class="weight_item_descr">
											<p>Масса</p>
											<p><span>40<i>г.</i></span></p>
										</div>
									</div>
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-group"></i>
										</div>
										<div class="weight_item_descr">
											<p>Упаковка</p>
											<p><span>вакуумная</span></p>
										</div>
									</div>
								</div>
								<div class="production__item_sum">
									<div class="sum_item">
										<div class="sum_item_title">
											<p>Цена: </p>
										</div>
										<div class="sum_item_new">
											<p>19 <i>грн.</i></p>
										</div>
										<div class="sum_item_old">
											<p>21 <i>грн.</i></p>
										</div>
									</div>
									<div class="sum_item">
										<div class="sum_item_button">
											<a href="#" class="button">Купить</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap">
						<div class="production__item">
							<!-- Slider main container -->
							<div class="products-container swiper-container">
								<!-- Additional required wrapper -->
								<div class="swiper-wrapper">
									<!-- Slides -->
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
								</div>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
								<img class="zoom" src="img/zoom.svg" alt="alt">
							</div>
							<div class="wrap">
								<div class="production__item_title">
									Грецкий орех
								</div>
								<div class="production__item_art">
									<span>Арт:</span> 0091
								</div>
								<div class="production__item_descr">
									Орех сладкий, классический,<br> очищенный
								</div>
								<div class="production__item_weight">
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-food-scale-tool"></i>
										</div>
										<div class="weight_item_descr">
											<p>Масса</p>
											<p><span>40<i>г.</i></span></p>
										</div>
									</div>
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-group"></i>
										</div>
										<div class="weight_item_descr">
											<p>Упаковка</p>
											<p><span>вакуумная</span></p>
										</div>
									</div>
								</div>
								<div class="production__item_sum">
									<div class="sum_item">
										<div class="sum_item_title">
											<p>Цена: </p>
										</div>
										<div class="sum_item_new">
											<p>19 <i>грн.</i></p>
										</div>
										<div class="sum_item_old">
											<p>21 <i>грн.</i></p>
										</div>
									</div>
									<div class="sum_item">
										<div class="sum_item_button">
											<a href="#" class="button">Купить</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap">
						<div class="production__item">
							<!-- Slider main container -->
							<div class="products-container swiper-container">
								<!-- Additional required wrapper -->
								<div class="swiper-wrapper">
									<!-- Slides -->
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
									<div class="swiper-slide">
										<a href="#"><img src="img/KOND-40g.png" alt="alt"/></a>
									</div>
								</div>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
								<img class="zoom" src="img/zoom.svg" alt="alt">
							</div>
							<div class="wrap">
								<div class="production__item_title">
									Грецкий орех
								</div>
								<div class="production__item_art">
									<span>Арт:</span> 0091
								</div>
								<div class="production__item_descr">
									Орех сладкий, классический,<br> очищенный
								</div>
								<div class="production__item_weight">
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-food-scale-tool"></i>
										</div>
										<div class="weight_item_descr">
											<p>Масса</p>
											<p><span>40<i>г.</i></span></p>
										</div>
									</div>
									<div class="weight_item">
										<div class="weight_item_icon">
											<i class="nut-icon icons-group"></i>
										</div>
										<div class="weight_item_descr">
											<p>Упаковка</p>
											<p><span>вакуумная</span></p>
										</div>
									</div>
								</div>
								<div class="production__item_sum">
									<div class="sum_item">
										<div class="sum_item_title">
											<p>Цена: </p>
										</div>
										<div class="sum_item_new">
											<p>19 <i>грн.</i></p>
										</div>
										<div class="sum_item_old">
											<p>21 <i>грн.</i></p>
										</div>
									</div>
									<div class="sum_item">
										<div class="sum_item_button">
											<a href="#" class="button">Купить</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="wrapper">
					<a href="#" class="button button_transparent">Перейти в магазин</a>
				</div>
			</div>
		</div>
	</section>

	<section class="manufacturer gray_section">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5">
					<h2>О производителе</h2>
					<p class="manufacturer__descr"><span><a href="/about.html">Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”</a></span> выращивает смешанные сады ореха грецкого с фундуком, а также ореха грецкого с шиповником, на площади более 150 гектаров.</p>
					<p class="manufacturer__descr">Помимо этого кооператив занимается выращиванием посадочного материала, саженцов привитого и непривитого грецкого ореха, фундука и шиповника.</p>
					<a href="#" class="button button_transparent">Подробнее</a>
				</div>
				<div class="col-md-7">
					<!-- Swiper -->
					<div class="manufacturer-container swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="manufacturer__item manufacturer__item_video">
									<img src="img/manufacturer.jpg" alt="alt">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="manufacturer__item manufacturer__item_video">
									<img src="img/manufacturer.jpg" alt="alt">
								</div>
							</div>
						</div>
						<!-- Add Arrows -->
						<div class="wrap">
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="timer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="240" data-speed="3000" data-refresh-interval="50"></span>
						<sup>Га</sup>
						<div class="timer__descr"><div>Cмешанных</div> садов</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="1" data-speed="3000" data-refresh-interval="50"></span>
						<sup>Га</sup>
						<div class="timer__descr"><div>Тепличного</div> комплекса</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="10" data-speed="5000" ></span>
						<sup>Га</sup>
						<div class="timer__descr"><div>Первая промышленная плантация</div> шиповника в Украине</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="80" data-speed="3000" data-refresh-interval="50"></span>
						<sup>%</sup>
						<div class="timer__descr"><div>Приживаемости</div> саженцев</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="parallax" data-scrollax-parent="true">
		<section class="goal overlay cover" style="background-image: url(img/goal.jpg)" data-scrollax="properties: { translateY: '30%' }">
			<div class="container">
				<div class="row align-items-center justify-content-center">
					<a href="#" data-scrollax="properties: { 'translateY': '5%', 'opacity': 1 }">
						<h2>Наша главная цель - получить максимальную<br> прибыль с одного гектара</h2>
						<span><i class="nut-icon icons-play-icon"></i></span>
						<p><i>Cмотреть видео о производстве</i></p>
					</a>
				</div>
			</div>
		</section>
	</div>

	<section class="benefit">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-12">
					<h2>О пользе продукта</h2>
					<p>Каждый вид ореха содержит свой неповторимый уникальный<br> баланс витаминов, и микроэлементов</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap">
						<div class="benefit__item overlay" style="background-image: url(img/walnuts.jpg)">
							<i class="nut-icon icons-group4"></i>
							<h3>Грецкий орех</h3>
						</div>
						<div class="benefit__item item_hover overlay_green">
							<i class="nut-icon icons-group4"></i>
							<h3>Грецкий орех</h3>
							<p>Дерево жизни - так часто величают грецкий орех, поскольку с давних пор он кормил, восстанавливал силы и лечил человека.</p>
							<p>Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая профилактика многих заболеваний</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap">
						<div class="benefit__item overlay" style="background-image: url(img/nut.jpg)">
							<i class="nut-icon icons-vector4"></i>
							<h3>Фундук</h3>
						</div>
						<div class="benefit__item item_hover overlay_green">
							<i class="nut-icon icons-vector4"></i>
							<h3>Фундук</h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iusto, adipisci reprehenderit quis</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ut sed dicta quidem accusantium!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6	col-12">
					<div class="wrap">
						<div class="benefit__item overlay" style="background-image: url(img/berry.jpg)">
							<i class="nut-icon icons-group5"></i>
							<h3>Шиповник</h3>
						</div>
						<div class="benefit__item item_hover overlay_green">
							<i class="nut-icon icons-group5"></i>
							<h3>Шиповник</h3>
							<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iusto, adipisci reprehenderit quis</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ut sed dicta quidem accusantium!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="parallax" data-scrollax-parent="true">
		<section class="eco overlay" style="background-image: url(img/eco.jpg)" data-scrollax="properties: { translateY: '30%' }">
			<div class="container">
				<div class="row align-items-center justify-content-center">
					<a href="#" data-scrollax="properties: { 'translateY': '5%', 'opacity': 1 }">
						<i class="nut-icon icons-eco"></i>
						<h2>Орех Причерноморья</h2>
						<p>Единственный в Украине сад совместного<br> выращивание фундука и грецкого ореха</p>
					</a>
				</div>
			</div>
		</section>
	</div>

	<section class="news gray_section">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 col-12">
					<h2>Новости</h2>
					<p class="news__descr">Свежие новости и полезная информация</p>

				</div>
				<div class="col-md-6 col-12 d-flex justify-content-end">
					<div class="wrap">
						<div class="navigation"></div>
					</div>
				</div>
				<div class="col-12">
					<!-- Swiper -->
					<div class="news-container swiper-container">
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="news__item news__item_video">
									<span class="video_wrap">
										<img src="img/pic.jpg" alt="alt">
									</span>
									<div class="wraper">
										<div class="item_data">
											12.04.2019
										</div>
										<h3>Центр поддержки экспорта, в студии Павел Тулба</h3>
										<p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</p>
										<a href="#">Читать <i class="nut-icon icons-read-more"></i></a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<span class="video_wrap">
										<img src="img/pic.jpg" alt="alt">
									</span>
									<div class="wraper">
										<div class="item_data">
											12.04.2019
										</div>
										<h3>Центр поддержки экспорта, в студии Павел Тулба</h3>
										<p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</p>
										<a href="#">Читать <i class="nut-icon icons-read-more"></i></a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<span class="video_wrap">
										<img src="img/pic.jpg" alt="alt">
									</span>
									<div class="wraper">
										<div class="item_data">
											12.04.2019
										</div>
										<h3>Центр поддержки экспорта, в студии Павел Тулба</h3>
										<p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</p>
										<a href="#">Читать <i class="nut-icon icons-read-more"></i></a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<span class="video_wrap">
										<img src="img/pic.jpg" alt="alt">
									</span>
									<div class="wraper">
										<div class="item_data">
											12.04.2019
										</div>
										<h3>Центр поддержки экспорта, в студии Павел Тулба</h3>
										<p>Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не смотря на большой спрос в Европе и отличную...</p>
										<a href="#">Читать <i class="nut-icon icons-read-more"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="wrapper">
					<a href="#" class="button button_transparent">Смотреть все новости</a>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block scripts %}{% endblock scripts %}
