{% extends "main/elements/base.html" %}

{% block content %}

	<div class="container pr">
		<div class="popup__cart">
			<div class="wrap">
				<div class="popup__cart_item">
					<div class="row align-items-center no-gutters item_row">
						<div class="col-md-5 col-12">
							<div class="item_title">
								<p>Орех соленый 80г.</p>
							</div>
						</div>
						<div class="col-md-7 col-12">
							<div class="row align-items-center no-gutters">
								<div class="col-6">
									<div class="item_quantity">
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i>
										</button>
										<input type="text" name="quantity" value="4" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button>
									</div>
								</div>
								<div class="col-5">
									<div class="item_sum">
										<p>100 <span>грн.</span></p>
									</div>
								</div>
								<div class="col-1">
									<div class="item_close">
										<a href="#">
											<i class="nut-icon icons-close-button"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup__cart_item">
					<div class="row align-items-center no-gutters item_row">
						<div class="col-md-5 col-12">
							<div class="item_title">
								<p>Орех сладкий 80г.</p>
							</div>
						</div>
						<div class="col-md-7 col-12">
							<div class="row align-items-center no-gutters">
								<div class="col-6">
									<div class="item_quantity">
										<button type="button" class="quantity_minus">
											<i class="nut-icon icons-qty-left"></i>
										</button>
										<input type="text" name="quantity" value="8" class="quantity_input">
										<button type="button" class="quantity_plus">
											<i class="nut-icon icons-qty-right"></i>
										</button>
									</div>
								</div>
								<div class="col-5">
									<div class="item_sum">
										<p>80 <span>грн.</span></p>
									</div>
								</div>
								<div class="col-1">
									<div class="item_close">
										<a href="#">
											<i class="nut-icon icons-close-button"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup__cart_sum">
					<div class="sum_item">
						<div class="sum_item_title">
							<p>Всего </p>
						</div>
						<div class="sum_item_new">
							<p>175 <i>грн.</i></p>
						</div>
					</div>
					<div class="sum_item">
						<div class="sum_item_button">
							<a href="#" class="button">Перейти в корзину</a>
						</div>
					</div>
				</div>
				<!-- Если корзина пуста -->
				<!-- <div class="popup__cart_clean">
					<p>Ваша корзина пуста</p>
				</div> -->
			</div>
		</div>
	</div>

	<section class="first-section overlay" style="background-image: url(img/Untitled-23.jpg)">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
							Оплата и доставка
					</li>
				</ul>
			</div>
			<div class="row align-items-center justify-content-center">
					<h1>Оплата и доставка</h1>
			</div>
		</div>
	</section>

	<section class="payment">
		<div class="tabs">
			<div class="tabs__wrap">
				<div class="container">
						<div class="row">
							<ul class="tabs__caption">
								<li class="active"><i class="nut-icon icons-vector12"></i> <span>Оплата заказа</span></li>
								<li><i class="nut-icon icons-lorry"></i> <span>Доставка партии</span></li>
								<li><i class="nut-icon icons-package"></i> <span>Возврат товара</span></li>
							</ul>
						</div>
					</div>
			</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="tabs__content active">
						<div class="row">
							<div class="col-md-5 col-12 align-self-center">
								<div class="tabs__content_block">
									<p class="tabs__content_title">
										Способы оплаты
									</p>
									<ul>
										<li>
											<span><img src="img/icon.png" alt="alt">Безналичный расчет</span>
											<p>Вы можете выбрать “получить реквизиты” для дальнейшей оплаты на карту, или в терминалах.</p>
										</li>
										<li>
											<span><img src="img/icon2.png" alt="alt">Оплата с помощью банковской карты</span>
											<p>Оплатите Ваш заказ картой любого банка онлайн (LiqPay/Приват24)</p>
										</li>
										<li>
											<span><img src="img/icon3.png" alt="alt">Наличный расчет</span>
											<p>Оплата заказов наложенным платежом в отделении Новой Почты, или наличными курьерами</p>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-7 col-12">
								<img src="img/Untitled-2.jpg" class="tabs__content_img" alt="alt">
							</div>
						</div>
					</div>
					<div class="tabs__content">
						Содержимое второго блока
					</div>
					<div class="tabs__content">
						Содержимое 3-го блока
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="timer gray_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="240" data-speed="3000" data-refresh-interval="50"></span>
						<sup>Га</sup>
						<div class="timer__descr"><div>Cмешанных</div> садов</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="1" data-speed="3000" data-refresh-interval="50"></span>
						<sup>Га</sup>
						<div class="timer__descr"><div>Тепличного</div> комплекса</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="10" data-speed="5000" ></span>
						<sup>Га</sup>
						<div class="timer__descr"><div>Первая промышленная плантация</div> шиповника в Украине</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<div class="wrap">
						<span class="timer__single" data-from="1" data-to="80" data-speed="3000" data-refresh-interval="50"></span>
						<sup>%</sup>
						<div class="timer__descr"><div>Приживаемости</div> саженцев</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="parallax" data-scrollax-parent="true">
		<section class="goal overlay cover" style="background-image: url(img/goal.jpg)" data-scrollax="properties: { translateY: '30%' }">
			<div class="container">
				<div class="row align-items-center justify-content-center">
					<a href="#" data-scrollax="properties: { 'translateY': '5%', 'opacity': 1 }">
						<h2>Наша главная цель - получить максимальную<br> прибыль с одного гектара</h2>
						<span><i class="nut-icon icons-play-icon"></i></span>
						<p><i>Cмотреть видео о производстве</i></p>
					</a>
				</div>
			</div>
		</section>
	</div>

{% endblock %}

{% block scripts %}{% endblock scripts %}
